body {
  background-color: white;
  font-family: Futura;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
}
#container {
  background-color: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
ul#menu {
  padding: 0;
}
ul#menu li {
  display: inline;
}
ul#menu li a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}
ul#menu li a:hover {
  background-color: #696969;
}
#content {
  padding: 10px;
}
#main {
  width: 500px
  float: right;
}
#footer {
  clear: both;
  padding: 10px
}
