<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/js.css">
</head>
<body>
  <div id="container">
    <center>
      <ul id="menu">
        <li><a href="../index.html">Home</a><li>
        <li><a href="./lightbulb.html">Lightbulb Challenge</a><li>
        <li><a href="./journal.html">Journal</a><li>
        <li><a href="./entrepreneur.html">Entrepreneur</a><li>
        <li><a href="./googlemaps.html">Google Maps</a><li>
        </ul>
      </center>
    <div id="content">
      <div id="journal">
        <center>
        <h3>Journal Entries</h3>
      </center>
      </div>
      <div id="entries">
        <center>
    <h4>Journal Reflection: 06-13-17</h4>
    <p>Today in class we went over the process of putting our static website on heroku.
    I was given a detailed explination and told if I needed help to ask my peers.
    I didn't know what most of the code stood for and I learned that adding a "." is telling the computer to add all files.
    One thing I can improve on is to come on time/early. I came late to class and I payed in push ups.
    I plan to improve by planning out my day to make it on time/early to class.</p>
    <h4>Journal Reflection: 06-14-17</h4>
    <p>Today we arrived at Camp Mariastella and we went over what we had to do.
    On the way there we had to sit next to someone who you don't know, and I sat next to Ajohnny.
    We talked about comics we've read, television shows we've watched, our favorite films, and games.
    As well as before the buses arrived we had to go around and get to know each other names.
    When we arrived there they went over our wake up and sleep times: 6:00am-10pm.
    Some of they activites we did: Trustwalk - in which we walked with someone we didn't know while we were blindfolded.</p>
    <h4>Journal Reflection: 06-15-17</h4>
    <p>Yesterday we completed the activity: Human Knot. Some of the things we learned was to "trust the process".
    Also after every action to look back and analyze the situation - what steps did you take? how did that change?
    was it a step forward or a step back?. We also learned to break the situtation into small manageable pieces.
    We went over proper communication and to be patient. One quote to remember is "Fail Fast, Fail Cheap".
    We learned to improve on what went wrong and to keep what went right. We do activites like this to build brotherhood which builds trust.</p>
    <h4>Journal Reflection: 06-16-17</h4>
    <p>We had an activity in which we reflected on ourseleves. We asked ourselves "Who am I?", "Who do I pretend to be?" and "How do other people see you?".
    It was a activity that required a lot of deep thought. We had to see ourselves, our true selves. We can't be strong leaders if we don't know our strenghts and weakness.
    We also had an activity in which we had to identify with an animal and why. I chose the eagle because I liked the concept of planning ahead and looking at the big picture.
    I didn't identify with the rabbit, lion or turtle.</p>
    <h4>Journal Reflection: 06-17-17</h4>
    <p>We spent the entire day on the Lava Game. This was an interesting game that connects everything we learned on the previous activities.
    We went over taking time to plan it out. We learned to use all our resources, specifically the TXT'ers who've been through it before.
    Near the end we almost had it but something happened that was really important, we stalled. Why did we stall? I believe we stalled because near the end we had so little people to cross and we got extremely nervous.
    We couldn't see the end game clearly. One of the things we could work on is to remain calm throughout the whole process and to not get distracted and to not deviate from the plan.
    We have to be confident in each other and our abilities.</p>
    <h4>Journal Reflection: 06-18-17</h4>
    <p>We finished the lava game today. This was an important milestone for us because we prepared for this before hand.
    We had it all prepared and we even did it without talking. We also did another activity that had to do with storytelling.
    This relates to what will happen later on in the summer when we have to be prepared to speak loud and knowledable.
    Our final activity was the "Stick Game" in which we used all the knowledge we learned to think outside the box.
    We receieved hints like "Use leadership creed #3", "Forget everything you know", "Be detail-oriented", "Don't invent the answer, discover it", "Pay attention to the small details".</p>
    <h4>Journal Reflection: 06-21-17</h4>
    <p>Today we went over leadership and Valentino used the example of basketball. He talked about how the best defensive teams have great communication. Each person on the team has their roles, strengths and weaknessess.
    We should be able to analyze the strengths as leaders and use it to our advantage. We went over the importance of being detail-oriented. We also went over community and what it means.
    Community to me means a group of people that are related in some way, either by location or beliefs. I talked about the word, commun, which to me means to gather around and talk.
    We learned to place oursleves in communities we are part of. For example I identified myself as part of the, bus community, biking community and CSGO community. Our challenge was by Friday to find three communities we identify with and find 35 problems within the communities.</p>
    <h4>Journal Reflection: 06-22-17</h4>
    <p>We had a quest speaker: Arnold Avalos, a multimillionaire. He is latino. He gave us advice like: "Be relisiant.", "If you don't believe in yourself, who will?", "Sucess isn't a straight line there are high points and low points."
    He talked about he took all the opportunities he had. We were also introduced to rapid fires. Rapid Fires is an activity that happens every morning in which they ask a lot questions and sees who spends time outside of TXT researching above and beyond.
    We also talked about different types of ways to see if gather information. We learned about Observation, Surveys, Focus Groups and Interviews. They each have their advantage.
    Our challenge was out of those 105 problems we pick two and write 5 unbiased questions.</p>
    <h4>Journal Reflection: 06-23-17</h4>
    <p>We learned about "Design Thinking." Some of the steps: Empathize - which means to understand your end use, gather their perspective and see "what are their beliefs? values? needs?".
    Refine - which is to go over Empathize and don't assume their problems, ask unbiased questions.  Next we Ideate - in this part we brianstorm and collaborate and participate, using integrated thinking.
    Next we Prototype - which is a proliminary model, building real tacticle representations. Lastly we Iterate -  which is to repeat any stage as necessary and you might find that you need to go back. Finally we go over the whole thing again, this is a cycle and is repeated. </p>
    <h4>Journal Reflection: 06-24-17</h4>
    <p>Today I learned about how to add a favicon and we decided a way to show dates on our website. We also learned about 10-20-30 Presentation Rule. The rule states that it should be 10 slides, it should take 20 minutes and it should be minimum 30pt font. We also learned about a problem statement and how important it is to identify the problem.
    It has to concise, align efforts, and not to be narrow or too vague. We looked at an example of a bad problem statement and how to improve. We tried to break it down as much as we can and ask correct question. We also had Senior Product Designer/UX Designer - Khalel Dumaz.
    He worked on Loot Crate and SportsCrate, he talked about the income and how he did it. He talked about the job and how to do it correctly. He talked about Look+Feel+Usability, talked about the difference between UX and UI. He talked about MVP, minimum viable product and to iterate on that. There was also an interesting quote. " Design should never say "look at me, It should always say "look at this". "
    He also talked about different sources that help for example, usertesting.com, Sketch, InVision.</p>
    <h4>Journal Reflection: Leadership Creed #8</h4>
    <p>The eighth Leadership Creed says "I will strive to know myself and seek self-improvement". This means that through every experience I have to get to know the real me. I have to go deep inside and know my strenghts and weaknesses and undstand them. I have to know when I can go above and push myself. This is a continous interaction with myself to grow as a person. Growth also requires concentration and dedication. One way that TXT taught me to self-improve is to self-reflect after everyday, to keep a journal of how I feel, what I learned and how to grow.
    Also another way is to ask for people's input, not just anyone but people who have my best interests in their mind and actively make an effort to make me better.</p>
    <h4>Journal Reflection: Leadership Creed #9</h4>
    <p>The ninth Leadership Creed says "I believe in the habit of doing more than asked for." This means that what is the required work I have to do and them some more. This shouldn't be asked of me to go above and beyond because like the creed said it should be a habit I do all the time. This also means that my work must be better than the rest and unique becuase that shows how much I care about my presentable work. I can turn it into a habit by continously reminding myself about the creed and actually following through. 
    Doing more than asked for also means that I am always on my toes and should in grain that knowledge into my long term memory so I never forget. This doesn't have to apply to TXT, everything I learn can be applied to everyday life like school, and in the future work.</p>
    <h4>Journal Reflection: Leadership Creed #10</h4>
    <p>The tenth Leadership Creed says "I will strive to strengthen my mind, body and soul." This means that I will always try to better myself, it can be through knowledge by always being on my toes, constantly taking notes, and always paying attention to everything even the small details. It can also be by push-ups becuase they teach us to not make the same mistake. This can also by will power to continue on. This has to be a constant attempt to better. You can also follow this creed by asking for input from people who care about you and want you to a better person. </p>
      </center>
      </div>
    </div>
    <div id="footer">
      <center>
      2017-2018 Asarel Castellanos
    </div>
  </center>
  </div>
</body>
</html>
